In [1]:
import pandas as pd

In [5]:
# Task 1

In [6]:
# Create data
data = {
    'Feature1': [2.1, 3.2, 1.5, 4.6, 5.7, 2.8, 3.9, 4.2, 1.3, 2.4],
    'Feature2': [7.3, 6.8, 8.1, 9.4, 7.6, 6.5, 8.9, 9.1, 7.2, 6.7],
    'Feature3': [0.9, 1.2, 1.5, 0.8, 1.1, 1.4, 0.7, 1.0, 0.6, 0.8],
    'Feature4': [15.2, 13.7, 14.8, 16.5, 15.6, 16.8, 14.3, 14.9, 15.1, 16.2],
    'Feature5': [5.6, 4.8, 6.2, 5.4, 4.9, 5.1, 6.5, 6.8, 4.7, 5.3]
}

# Create DataFrame
df = pd.DataFrame(data)

In [7]:
print(df)

   Feature1  Feature2  Feature3  Feature4  Feature5
0       2.1       7.3       0.9      15.2       5.6
1       3.2       6.8       1.2      13.7       4.8
2       1.5       8.1       1.5      14.8       6.2
3       4.6       9.4       0.8      16.5       5.4
4       5.7       7.6       1.1      15.6       4.9
5       2.8       6.5       1.4      16.8       5.1
6       3.9       8.9       0.7      14.3       6.5
7       4.2       9.1       1.0      14.9       6.8
8       1.3       7.2       0.6      15.1       4.7
9       2.4       6.7       0.8      16.2       5.3

In [8]:
#Task 2

In [9]:
# checking Info

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Feature1  10 non-null     float64
 1   Feature2  10 non-null     float64
 2   Feature3  10 non-null     float64
 3   Feature4  10 non-null     float64
 4   Feature5  10 non-null     float64
dtypes: float64(5)
memory usage: 528.0 bytes

In [10]:
# Task 3

In [11]:
# descriptive statistics of df

df.describe()

        Feature1  Feature2   Feature3   Feature4   Feature5
count  10.000000  10.00000  10.000000  10.000000  10.000000
mean    3.170000   7.76000   1.000000  15.310000   5.530000
std     1.422088   1.05851   0.298142   0.978037   0.736433
min     1.300000   6.50000   0.600000  13.700000   4.700000
25%     2.175000   6.90000   0.800000  14.825000   4.950000
50%     3.000000   7.45000   0.950000  15.150000   5.350000
75%     4.125000   8.70000   1.175000  16.050000   6.050000
max     5.700000   9.40000   1.500000  16.800000   6.800000

In [12]:
# Task 4

In [13]:
# 4th index observation with 'loc'

df.loc[4]

Feature1     5.7
Feature2     7.6
Feature3     1.1
Feature4    15.6
Feature5     4.9
Name: 4, dtype: float64

In [14]:
# Task 5

In [15]:
# checking null values and their sum

df.isnull().any()

Feature1    False
Feature2    False
Feature3    False
Feature4    False
Feature5    False
dtype: bool

In [16]:
df.isnull().sum()

Feature1    0
Feature2    0
Feature3    0
Feature4    0
Feature5    0
dtype: int64